name: Cosmos Odyssey CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Create .env file
        run: echo "${{ secrets.ENV_FILE }}" > .env

      - name: Install Dependencies
        run: flutter pub get

      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Analyze Code
        run: flutter analyze

      - name: Run Unit & Widget Tests
        run: flutter test --exclude-tags=golden

      - name: Build Web App
        if: github.ref == 'refs/heads/main'
        run: flutter build web --release --base-href "/cosmos_odyssey/" --no-tree-shake-icons

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web